{% extends "main/base-template.html" %}
{% block content %}
<style>
  .imgTeachers {
    -moz-border-radius: 38px;
    border-radius: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }
</style>
<div id='mainContent'>
  <div class="contacts-area mg-b-15">
    <div class="container-fluid">
      <div class="d-flex justify-content-end">
        <div class="mr-auto p-2">
          <h4 class="c-grey-900 mT-10 mB-30">Teachers</h4>
        </div>
        <div class="p-2">
          <a href="{{ url_for('operator.invite_teacher') }}" class="btn btn-info d-flex justify-content-center d-md-table mx-auto">Invite new Teacher</a>
        </div>
        <div class="p-2">
          <a href="{{ url_for('operator.new_teacher') }}" class="btn btn-primary d-flex justify-content-center d-md-table mx-auto">Add new Teacher</a>
        </div>
      </div>
      </div>
      <div class="row">
        {% for data in teachers.items %}
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
            <div class="panel-body custom-panel-jw">
              <a href="{{ url_for('operator.teacher_profile', teacher_id=data.id) }}">
                {% if data.photo and data.gender.value == "Male" %}
                <img class="img-circle m-b imgTeachers" src="{{ url_for('static', filename='images/app/'+data['photo']) }}" alt="{{data.photo}}">
                {% elif not data.photo and data.gender.value == "Male" %}
                <img class="img-circle m-b imgTeachers" src="{{ url_for('static', filename='images/app/example/muslim-icon.png') }}" alt="">
                {% else %}
                <img class="img-circle m-b imgTeachers" src="{{ url_for('static', filename='images/app/example/muslimah-icon.png') }}" alt="">
                {% endif %}
                <h3>
                  {% if data.gender.value == "Male" %}
                  <strong style="color: #0B83E2;">Ustadz</strong>
                  {% else %}
                  <strong style="color: #0B83E2;">Ustadzah</strong>
                  {% endif %}
                  {{ data.full_name }}
                </h3>
              </a>
              <strong class="all-pro-ad">
                Teach:
                {% for data in data.taught_courses %}
                  {{ data }},
                {% endfor %}
              </strong>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
