{% extends "layouts/base-template.html" %}
{% block content %}
<style>
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #C0D890;
	}
</style>
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>{{ _('Fixed Payments') }}</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table id="example" class="table table-striped table-bordered dt-responsive nowrap table table-striped table-hover" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>{{ _('Student') }}</th>
							<th>{{ _('Email') }}</th>
							<th>{{ _('Course') }}</th>
							<th>{{ _('Type of Class') }}</th>
							<th>{{ _('Total') }}</th>
							<th>{{ _('Status') }}</th>
							<th>{{ _('Pay at') }}</th>
							<th>{{ _('Update at') }}</th>
						</tr>
						</thead>
						<tbody>
						{% for data in fixed_payments %}
							<tr>
								<td>{{ data.full_name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ data.email }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ data.name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ _(data.type_of_class|safe) }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ data.total }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ _(data.status_of_payment|safe) }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ data.created_at.strftime('%d-%m-%Y') }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data.id) }}'">{{ data.updated_at.strftime('%d-%m-%Y') }}</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>{{ _('Student') }}</th>
								<th>{{ _('Email') }}</th>
								<th>{{ _('Course') }}</th>
								<th>{{ _('Type of Class') }}</th>
								<th>{{ _('Total') }}</th>
								<th>{{ _('Status') }}</th>
								<th>{{ _('Pay at') }}</th>
								<th>{{ _('Update at') }}</th>
							</tr>
		        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
