{% extends "layouts/base-template.html" %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
  button {
    width: 75px;
    height: 35px;
    margin-top: -20px;
  }
</style>

<div id="mainContent">
  <div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-6">
      <div class="bgc-white p-20 bd">
        {% if payment %}
        <h2 class="c-grey-900">{{ _('Edit Payment') }}</h2>
        {% else %}
        <h2 class="c-grey-900">{{ _('Add new Payment') }}</h2>
        {% endif %}
        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        <div class="mT-30">
          {{ f.begin_form(form, flashes) }}
          <div class="form-row">
            {% if step == "input_student_email" %}
	            {{ f.render_form_field(form.student_email, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="taking_course">
						  <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Check Schedules') }}">
		        {% elif step == "taking_course" %}
              <table class="table">
                <tr>
                  <th>{{ _('Taking course') }}</th>
                  <th>{{ _('Type of class') }}</th>
                  <th>{{ _('Payment Status') }}</th>
                  <th>{{ _('Action') }}</th>
                </tr>
                {% for data in taking_courses %}
                <tr>
                  <td>{{ data.course.name }}</td>
                  <td>{{ data.type_of_class }}</td>
                  {% if data.payment == [] %}
                    <td style="display: none;"><input type="text" name="schedule_id" value="{{ data.id }}"></td>
                    <td>-</td>
                    <td><input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Pay the tuition') }}"></td>
                  {% else %}
                    {% for data_payment in data.payment %}
                      {% if data_payment|safe != "COMPLETED" %}
                        <td>{{ data_payment }}</td>
                        <td onclick="window.location='{{ url_for('operator.edit_payment', payment_id=data_payment.id) }}'">
                          <a class="btn btn-primary d-flex justify-content-center mx-auto" href="{{ url_for('operator.edit_payment', payment_id=data_payment.id) }}">{{ _('Edit the tuition') }}</a>
                        </td>
                      {% else %}
                        <td>{{ data_payment }}</td>
                        <td>-</td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </tr>
                {% endfor %}
              </table>
						  <input type=hidden name="step" value="pay_the_tuition">
		        {% elif step == "pay_the_tuition" %}
              <h6>The student must pay {{ total_charge_per_month }}/month for this schedule</h6>
	            {{ f.render_form_field(form.total, extra_classes='form-group col-md-12') }}
	            {{ f.render_form_field(form.status_of_payment, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="submit">
						  <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="Submit">
		        {% elif step == "submit" %}
            {% endif %}
            {% if payment %}
              {{ f.render_form_field(form.total, extra_classes='form-group col-md-12', value=payment.total) }}
              {{ f.render_form_field(form.status_of_payment, extra_classes='form-group col-md-12') }}
              <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="Submit">
            {% endif %}
          </div>
          {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
          {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
          {{ f.form_message(flashes['info'], header='Information', class='info') }}
          {{ f.form_message(flashes['success'], header='Success!', class='success') }}
          <br>
          {{ f.end_form() }}
        </div>
      </div>
      {# Implement CSRF protection for site #}
      {% if csrf_token()|safe %}
      <div style="visibility: hidden; display: none">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
