{% extends "layouts/base-template.html" %}
{% block content %}
<style>
	.studentsImg{
		width: 207px;
		height: 250px;
	}
</style>
<div id='mainContent'>
  <div class="contacts-area mg-b-15">
    <div class="container-fluid">
      <div class="d-flex justify-content-end">
        <div class="mr-auto p-2">
          <h4 class="c-grey-900 mT-10 mB-30">{{ _('Students') }}</h4>
        </div>
        <div class="p-2">
          <a href="{{ url_for('operator.invite_student') }}" class="btn btn-info d-flex justify-content-center d-md-table mx-auto">{{ _('Invite new Student') }}</a>
        </div>
        <div class="p-2">
          <a href="{{ url_for('operator.new_student') }}" class="btn btn-primary d-flex justify-content-center d-md-table mx-auto">{{ _('Add new Student') }}</a>
        </div>
      </div>
      </div>
      <div class="row">
        {% for data in students.items %}
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="student-inner-std res-mg-b-30">
            <div class="student-img">
              <a href="{{ url_for('operator.student_profile', student_id=data.id) }}">
                {% if data.photo and data.gender.name == "Male" %}
                  <img class="studentsImg" src="{{ url_for('static', filename='images/app/'+data['photo']) }}" alt="{{data.photo}}" />
                {% elif not data.photo and data.gender.name == "Male" %}
                  <img class="studentsImg" src="{{ url_for('static', filename='images/app/example/muslim-icon.png') }}" alt="{{data.photo}}" />
                {% else %}
                  <img class="studentsImg" src="{{ url_for('static', filename='images/app/example/muslimah-icon.png') }}" alt="{{data.photo}}" />
                {% endif %}
              </a>
            </div>
            <div class="student-dtl">
              <h2>{{ data.full_name }}</h2>
<!--              <p class="dp">Bahasa Arab</p>-->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
