{% extends "main/base-template.html" %}
{% block content %}
<div id='mainContent'>
  <div class="contacts-area mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h4 class="c-grey-900 mT-10 mB-30">Courses</h4>
        </div>
        <div class="col-md-2 ml-auto">
          <a href="{{ url_for('operator.add_course') }}" class="btn btn-primary d-flex justify-content-center d-md-table mx-auto">Add course</a>
        </div>
      </div>
      <div class="row">
        {% for data in courses.items %}
        <div class="col-lg-4 course_box">
          <div class="card">
            <a href="{{ url_for('operator.course_details', course_id=data.id) }}">
              <img class="card-img-top" src="{{ url_for('static', filename='images/app/'+data['image']) }}" alt="{{data.image}}">
            </a>
            <div class="card-body text-center">
              <div class="card-title" style="margin: 0px;">{{ data.name }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
