{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>السلام عليكم</h1>
      <p>
        This app for AShHabul Qur'an Payakumbuh, a school for learning Al-Quran.
        In this school you can learning about Tajweed, improve your Al-Qur'an reading,
        how to read Al-Qur'an correctly. Also we provide an Arabic language course. Let's join us now !
      </p>
      <p>
        This app for AShHabul Qur'an Payakumbuh, a school for learning Al-Quran.
        In this school you can learning about Tajweed, improve your Al-Qur'an reading,
        how to read Al-Qur'an correctly. Also we provide an Arabic language course. Let's join us now !
      </p>
      <p>
        This app for AShHabul Qur'an Payakumbuh, a school for learning Al-Quran.
        In this school you can learning about Tajweed, improve your Al-Qur'an reading,
        how to read Al-Qur'an correctly. Also we provide an Arabic language course. Let's join us now !
      </p>
      <p>
        This app for AShHabul Qur'an Payakumbuh, a school for learning Al-Quran.
        In this school you can learning about Tajweed, improve your Al-Qur'an reading,
        how to read Al-Qur'an correctly. Also we provide an Arabic language course. Let's join us now !
      </p>
      <p>
        This app for AShHabul Qur'an Payakumbuh, a school for learning Al-Quran.
        In this school you can learning about Tajweed, improve your Al-Qur'an reading,
        how to read Al-Qur'an correctly. Also we provide an Arabic language course. Let's join us now !
      </p>
      <h2>Saving for the hereafter investment.</h2>
    </div>
{% endblock %}
