{% extends "layouts/base-template.html" %}
{% block content %}
<style>
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		background-color: #C0D890;
	}
	tfoot input {
		width: 100%;
		padding: 3px;
		box-sizing: border-box;
	}
</style>
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>{{ _('Schedule') }}</h2>
					<div class="d-flex justify-content-end">
						<div class="p-2" style="margin-top: 10px;">
<!--							<a href="{{ url_for('operator.check_schedules') }}" class="btn btn-info d-flex justify-content-center d-md-table mx-auto">{{ _('Check Schedule') }}</a>-->
						</div>
						<div class="p-2" style="margin-top: 10px;">
							<a href="{{ url_for('operator.add_schedule') }}" class="btn btn-primary d-flex justify-content-center d-md-table mx-auto">{{ _('Add new Schedule') }}</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table id="example" class="table table-striped table-bordered dt-responsive nowrap table table-striped table-hover display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>{{ _('Student') }}</th>
								<th>{{ _('Student email') }}</th>
								<th>{{ _('Course') }}</th>
								<th>{{ _('Type of class') }}</th>
								<th>{{ _('Teacher') }}</th>
								<th>{{ _('Teacher email') }}</th>
								<th>{{ _('Payment status') }}</th>
								<th>{{ _('Course start at') }}</th>
								<th>{{ _('Schedule') }}</th>
							</tr>
						</thead>
						<tbody>
						{% for data in schedules %}
							<tr>
								<td>{{ data.student.full_name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ data.student.email }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ data.course.name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ _(data.type_of_class|safe) }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ data.teacher.full_name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ data.teacher.email }}</td>
								{% for data_payment in data.payment %}
										<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ _(data_payment) }}</td>
								{% endfor %}
								{% if data.payment == [] %}
										<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">-</td>
								{% endif %}
								{% if data.course_start_at %}
									<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ data.course_start_at.strftime('%d-%m-%Y') }}</td>
								{% else %}
									<td onclick="window.location='{{ url_for('operator.edit_schedule', schedule_id=data.id) }}'">{{ data.course_start_at }}</td>
								{% endif %}
								<td>
									<table>
										<tr>
											{% for schedule_data in data.time_schedule %}
												<td>
													{{ schedule_data.day }}
													<br>
													{{ schedule_data.start_at.strftime('%H:%M') }} - {{ schedule_data.end_at.strftime('%H:%M') }}
												</td>
											{% endfor %}
										</tr>
									</table>
								</td>
							</tr>
						{% endfor %}
						</tbody>
							<tfoot>
								<tr>
									<th>{{ _('Student') }}</th>
									<th>{{ _('Student email') }}</th>
									<th>{{ _('Course') }}</th>
									<th>{{ _('Type of class') }}</th>
									<th>{{ _('Teacher') }}</th>
									<th>{{ _('Teacher email') }}</th>
									<th>{{ _('Payment status') }}</th>
									<th>{{ _('Course start at') }}</th>
									<th>{{ _('Schedule') }}</th>
								</tr>
		        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
