{% extends "layouts/base-template.html" %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
  button {
    width: 75px;
    height: 35px;
    margin-top: -20px;
  }
  /* Make circles that indicate the steps of the form: */
	.step {
	  height: 25px;
	  width: 25px;
	  background-color: #bbbbbb;
	  border: none;
	  border-radius: 50%;
	  display: inline-block;
	  opacity: 0.5;
	}
	.step.active {
	  background-color: #bbbbbb;
	  opacity: 1;
	}
	/* Mark the steps that are finished and valid: */
	.step.finish {
	  background-color: #4CAF50;
	}
</style>

<div id="mainContent">
  <div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-6">
	    {% if schedule %}
	      <h2 class="c-grey-900">{{ _('Edit') }} {{ schedule.student.full_name }} {{ _('Schedule') }}</h2>
	    {% else %}
	      <h2 class="c-grey-900">{{ _('Add new Schedule') }}</h2>
	    {% endif %}
	    <div class="bgc-white p-70 bd">
		    {% if step == "input_student_email" %}
			    <div style="text-align:center;">
				    <span class="step active"></span>
				    <span class="step"></span>
				    <span class="step"></span>
				    <span class="step"></span>
				    <span class="step"></span>
				    <span class="step"></span>
			    </div>
		    {% elif step == "available_course" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "type_of_class" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "input_schedule" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "input_teacher_email" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "check_data" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
		      </div>
		    {% endif %}

        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        <div class="mT-30">
          {{ f.begin_form(schedule_form, flashes) }}
          <div class="form-row">
	          {% if schedule %}
	            {{ f.begin_form(schedule_form, flashes) }}
								{{ f.render_form_field(schedule_form.schedule_day, extra_classes='form-group col-md-12') }}
	              {% for data in prepopulate_schedule_form %}
									{{ f.render_form_field(schedule_form.start_at, extra_classes='form-group col-md-6', value=data.start_at) }}
									{{ f.render_form_field(schedule_form.end_at, extra_classes='form-group col-md-6', value=data.end_at) }}
								{% endfor %}
	              {{ f.render_form_field(schedule_form.schedule_day_2, extra_classes='form-group col-md-12') }}
	              {% for data in prepopulate_schedule_form %}
									{{ f.render_form_field(schedule_form.start_at_2, extra_classes='form-group col-md-6', value=data.start_at_2) }}
									{{ f.render_form_field(schedule_form.end_at_2, extra_classes='form-group col-md-6', value=data.end_at_2) }}
								{% endfor %}
								{{ f.render_form_field(schedule_form.course_status, extra_classes='form-group col-md-12') }}
			          <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Update') }}">
	            {{ f.end_form() }}
	          {% endif %}
	          {% if step == "input_student_email" %}
	            {{ f.render_form_field(schedule_form.student_email, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="available_course">
						  <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Check available course') }}">
		        {% elif step == "available_course" %}
							{{ f.render_form_field(schedule_form.course_name, extra_classes='form-group col-md-12') }}
						   <input type=hidden name="step" value="type_of_class">
						   <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Input type of class') }}">
		        {% elif step == "type_of_class" %}
							{{ f.render_form_field(schedule_form.type_of_class, extra_classes='form-group col-md-12') }}
						   <input type=hidden name="step" value="input_schedule">
						   <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Input schedule') }}">
	             {{ f.end_form() }}
	             {{ f.begin_form(schedule_day_form, flashes) }}
		        {% elif step == "input_schedule" %}
	            {{ f.render_form_field(schedule_day_form.schedule_day, extra_classes='form-group col-md-12') }}
							{{ f.render_form_field(schedule_day_form.start_at, extra_classes='form-group col-md-6') }}
							{{ f.render_form_field(schedule_day_form.end_at, extra_classes='form-group col-md-6') }}
							{{ f.render_form_field(schedule_day_form.schedule_day_2, extra_classes='form-group col-md-12') }}
							{{ f.render_form_field(schedule_day_form.start_at_2, extra_classes='form-group col-md-6') }}
							{{ f.render_form_field(schedule_day_form.end_at_2, extra_classes='form-group col-md-6') }}
	            <input type=hidden name="step" value="input_teacher_email">
	            <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Input Teacher') }}">
	            {{ f.end_form() }}
	            {{ f.begin_form(schedule_form, flashes) }}
		        {% elif step == "input_teacher_email" %}
							{{ f.render_form_field(schedule_form.teacher_email, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="check_data">
					    <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Check all input') }}">
		        {% elif step == "check_data" %}
		          <div class="table-responsive">
		            <table class="table table-striped table-bordered dt-responsive nowrap table table-striped table-hover" cellspacing="0" width="100%">
		              <tr>
		                <th>{{ _('Student email') }}</th>
		                <td>{{ student_email }}</td>
		              </tr>
		              <tr>
		                <th>{{ _('Course name') }}</th>
		                <td>{{ course_name }}</td>
		              </tr>
		              <tr>
		                <th>{{ _('Type of class') }}</th>
		                <td>{{ type_of_class }}</td>
		              </tr>
			            <tr>
		                <th>{{ _('Teacher email') }}</th>
		                <td>{{ teacher_email }}</td>
		              </tr>
			            <tr>
				            <th colspan="2">{{ _('Schedule') }}</th>
			            </tr>
			            <tr>
				            <td>{{ _('Day-1') }}</td>
				            <td>{{ _('Day-2') }}</td>
			            </tr>
			            <tr>
		                <td>{{ schedule_day }}</td>
				            {% if schedule_day_2 == "None_choice" %}
					            <td>-</td>
				            {% elif schedule_day_2 %}
			                <td>{{ schedule_day_2 }}</td>
			              {% else %}
					            <td>-</td>
			              {% endif %}
		              <tr>
		                <td>{{ start_at.strftime('%H:%M') }} - {{ end_at.strftime('%H:%M') }}</td>
			              {% if start_at_2.strftime and end_at.strftime %}
				              <td>{{ start_at_2.strftime('%H:%M') }} - {{ end_at_2.strftime('%H:%M') }}</td>
			              {% else %}
			                <td>-</td>
			              {% endif %}
		              </tr>
		            </table>
		          </div>
	            <form action="#" method="post">
	              <input type=hidden name="step" value="submit">
	              <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="Submit">
	            </form>
		        {% elif step == "submit" %}
	          {% endif %}
	        {{ f.end_form() }}
        </div>
      </div>
      {# Implement CSRF protection for site #}
      {% if csrf_token()|safe %}
      <div style="visibility: text; display: none">
        <input type="text" name="csrf_token" value="{{ csrf_token()|safe }}">
      </div>
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock %}
