{% extends "layouts/base-template.html" %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
  button {
    width: 75px;
    height: 35px;
    margin-top: -20px;
  }
  /* Make circles that indicate the steps of the form: */
	.step {
	  height: 25px;
	  width: 25px;
	  background-color: #bbbbbb;
	  border: none;
	  border-radius: 50%;
	  display: inline-block;
	  opacity: 0.5;
	}
	.step.active {
	  background-color: #bbbbbb;
	  opacity: 1;
	}
	/* Mark the steps that are finished and valid: */
	.step.finish {
	  background-color: #4CAF50;
	}
</style>

<div id="mainContent">
  <div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-6">
	    {% if schedule %}
	      <h2 class="c-grey-900">{{ _('Edit') }} {{ schedule.student.full_name }} {{ _('Schedule') }}</h2>
	    {% else %}
	      <h2 class="c-grey-900">{{ _('Add new Schedule') }}</h2>
	    {% endif %}
	    <div class="bgc-white p-70 bd">
		    {% if step == "input_student_email" %}
			    <div style="text-align:center;">
				    <span class="step active"></span>
				    <span class="step"></span>
				    <span class="step"></span>
				    <span class="step"></span>
				    <span class="step"></span>
				    <span class="step"></span>
			    </div>
		    {% elif step == "available_course" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "type_of_class" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "how_many_times_in_a_week" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "input_schedule" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "input_teacher_email" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
			      <span class="step"></span>
		      </div>
		    {% elif step == "check_data" %}
		      <div style="text-align:center;">
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step finish"></span>
			      <span class="step active"></span>
		      </div>
		    {% endif %}

        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        <div class="mT-30">
          {{ f.begin_form(form, flashes) }}
          <div class="form-row">
	          {% if schedule %}
	            {{ f.begin_form(form, flashes) }}
								{{ f.render_form_field(form.course_start_at, extra_classes='form-group col-md-12') }}
								{{ f.begin_form(local_time_form, flashes) }}
	                {{ f.render_form_field(local_time_form.time_schedule, extra_classes='form-group col-md-12') }}
					      {{ f.end_form() }}
			          <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Update') }}">
	            {{ f.end_form() }}
	          {% endif %}
	          {% if step == "input_student_email" %}
	            {{ f.render_form_field(form.student_email, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="available_course">
						  <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Check available course') }}">
		        {% elif step == "available_course" %}
							{{ f.render_form_field(form.course_name, extra_classes='form-group col-md-12') }}
						   <input type=hidden name="step" value="type_of_class">
						   <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Input type of class') }}">
		        {% elif step == "type_of_class" %}
							{{ f.render_form_field(form.type_of_class, extra_classes='form-group col-md-12') }}
						   <input type=hidden name="step" value="how_many_times_in_a_week">
						   <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('How many times in a week') }}">
		        {% elif step == "how_many_times_in_a_week" %}
	            {{ f.render_form_field(form.how_many_times_in_a_week, extra_classes='form-group col-md-12') }}
						   <input type=hidden name="step" value="input_schedule">
						   <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Input schedule') }}">
	          {% elif step == "input_schedule" %}
	              {{ f.render_form_field(form.course_start_at, extra_classes='form-group col-md-12') }}
	          	  {{ f.begin_form(local_time_form, flashes) }}
	                {{ f.render_form_field(local_time_form.time_schedule, extra_classes='form-group col-md-12') }}
					      {{ f.end_form() }}
	            <input type=hidden name="step" value="input_teacher_email">
	            <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Input Teacher') }}">
	            {{ f.end_form() }}
	            {{ f.begin_form(form, flashes) }}
		        {% elif step == "input_teacher_email" %}
							{{ f.render_form_field(form.teacher_email, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="check_data">
					    <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Check all input') }}">
		        {% elif step == "check_data" %}
		          <div class="table-responsive">
		            <table class="table table-striped table-bordered dt-responsive nowrap table table-striped table-hover" cellspacing="0" width="100%">
		              <tr>
		                <th>{{ _('Student email') }}</th>
		                <td>{{ student_email }}</td>
		              </tr>
		              <tr>
		                <th>{{ _('Course name') }}</th>
		                <td>{{ course_name }}</td>
		              </tr>
		              <tr>
		                <th>{{ _('Type of class') }}</th>
		                <td>{{ type_of_class }}</td>
		              </tr>
			            <tr>
		                <th>{{ _('Teacher email') }}</th>
		                <td>{{ teacher_email }}</td>
		              </tr>
			            <tr>
				            <th>{{ _('Course start at') }}</th>
				            <td>{{ course_start_at.strftime('%d-%m-%Y') }}</td>
			            </tr>
			            <tr>
				            <th colspan="2">{{ _('Schedule') }}</th>
			            </tr>
	                {% for data in time_schedule %}
				            <tr>
					            <td colspan="2">{{ _('Day') }}-{{ loop.index }}</td>
				            </tr>
			              <tr>
				              <td>{{ _(data['day']) }}</td>
				              <td>{{ data['start_at'] }} - {{ data['end_at'] }}</td>
			              </tr>
									{% endfor %}
		            </table>
		          </div>
	            <form action="#" method="post">
	              <input type=hidden name="step" value="submit">
	              <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="Submit">
	            </form>
		        {% elif step == "submit" %}
	          {% endif %}
	        {{ f.end_form() }}
        </div>
      </div>
      {# Implement CSRF protection for site #}
      {% if csrf_token()|safe %}
      <div style="visibility: text; display: none">
        <input type="text" name="csrf_token" value="{{ csrf_token()|safe }}">
      </div>
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock %}
