{% extends "layouts/base-template.html" %}
{% import 'macros/form_macros.html' as f %}
{% block scripts %}
{% endblock %}
{% block content %}
<style>
  button {
    width: 75px;
    height: 35px;
    margin-top: -20px;
  }
</style>
<div id="mainContent">
	<div class="row gap-20 masonry pos-r">
		<div class="masonry-sizer col-md-6"></div>
		<div class="masonry-item col-md-6">
			<div class="bgc-white p-20 bd">
				{% if requisition_schedule %}
        <h2 class="c-grey-900">{{ _('Edit') }} {{ requisition_schedule.student.full_name }} {{ _('Requisition Schedule') }}</h2>
        {% else %}
        <h2 class="c-grey-900">{{ _('Add new Requisition Schedule') }}</h2>
        {% endif %}
				{% if requisition_schedule %}
			    <div style="display: flex;justify-content:flex-end;">
				    <a href="{{ url_for('operator.edit_requisition_schedule_number_of_day', requisition_schedule_id=requisition_schedule.id) }}" class="btn btn-info d-flex justify-content-center d-md-table">{{ _('Edit number of days') }}</a>
			    </div>
		    {% endif %}
				{% set flashes = {
				'error': get_flashed_messages(category_filter=['form-error']),
				'warning': get_flashed_messages(category_filter=['form-check-email']),
				'info': get_flashed_messages(category_filter=['form-info']),
				'success': get_flashed_messages(category_filter=['form-success'])
				} %}
				<div class="mT-30">
					{{ f.begin_form(form, flashes) }}
					<div class="form-row">
						{% if requisition_schedule %}
	            {{ f.begin_form(form, flashes) }}
								{{ f.begin_form(local_time_form, flashes) }}
	                {{ f.render_form_field(local_time_form.time_schedule, extra_classes='form-group col-md-12') }}
					      {{ f.end_form() }}
								{{ f.render_form_field(form.requisition_schedule_status, extra_classes='form-group col-md-12') }}
			          <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Update') }}">
	            {{ f.end_form() }}
	          {% endif %}
						{% if step == "how_many_times_in_a_week" %}
							{{ f.render_form_field(form.how_many_times_in_a_week, extra_classes='form-group col-md-12') }}
						  <input type=hidden name="step" value="input_student">
						  <input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit" value="{{ _('Next') }}">
		        {% elif step == "input_student" %}
							{{ f.render_form_field(form.student_email_or_phone_number, extra_classes='form-group col-md-12') }}
							{{ f.render_form_field(form.course_name, extra_classes='form-group col-md-12') }}
							{{ f.render_form_field(form.type_of_class, extra_classes='form-group col-md-12') }}
							{{ f.begin_form(local_time_form, flashes) }}
								{{ f.render_form_field(local_time_form.time_schedule, extra_classes='form-group col-md-12') }}
							{{ f.end_form() }}
						  <input type=hidden name="step" value="submit">
							<input class="btn btn-primary d-flex justify-content-center d-md-table mx-auto" type="submit">
		        {% elif step == "submit" %}
						{% endif %}
						{{ f.end_form() }}
					</div>
				</div>
				{# Implement CSRF protection for site #}
				{% if csrf_token()|safe %}
				<div style="visibility: text; display: none">
					<input type="text" name="csrf_token" value="{{ csrf_token()|safe }}">
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
