{% extends "layouts/base-template.html" %}
{% block content %}
<style>
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		background-color: #C0D890;
	}
	tfoot input {
		width: 100%;
		padding: 3px;
		box-sizing: border-box;
	}
</style>
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>{{ _('Requisition Schedule') }}</h2>
					<div class="d-flex justify-content-end">
						<div class="p-2" style="margin-top: 10px;">
							<a href="{{ url_for('operator.add_requisition_schedules') }}" class="btn btn-primary d-flex justify-content-center d-md-table mx-auto">{{ _('Add new Requisition Schedule') }}</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table id="example" class="table table-striped table-bordered dt-responsive nowrap table table-striped table-hover display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th rowspan="2">{{ _('Student') }}</th>
								<th rowspan="2">{{ _('Student email') }}</th>
								<th rowspan="2">{{ _('Phone number') }}</th>
								<th rowspan="2">{{ _('Gender') }}</th>
								<th rowspan="2">{{ _('Course') }}</th>
								<th rowspan="2">{{ _('Type of class') }}</th>
								<th colspan="2">{{ _('Schedule') }}</th>
							</tr>
							<tr>
								<th>{{ _('Day') }}</th>
								<th>{{ _('Day 2') }}</th>
							</tr>
						</thead>
						<tbody>
						{% for data in requisition_schedules %}
							<tr>
								<td>{{ data.student.full_name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_requisition_schedules', requisition_schedule_id=data.id) }}'">{{ data.student.email }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_requisition_schedules', requisition_schedule_id=data.id) }}'">{{ data.student.phone_number }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_requisition_schedules', requisition_schedule_id=data.id) }}'">{{ data.student.gender }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_requisition_schedules', requisition_schedule_id=data.id) }}'">{{ data.course.name }}</td>
								<td onclick="window.location='{{ url_for('operator.edit_requisition_schedules', requisition_schedule_id=data.id) }}'">{{ data.type_of_class }}</td>
								{% for schedule in data.schedule_day_and_time %}
									{% if schedule.start_at.strftime and schedule.end_at.strftime %}
										<td onclick="window.location='{{ url_for('operator.edit_requisition_schedules', requisition_schedule_id=data.id) }}'">{{ schedule.day }} {{ schedule.start_at.strftime('%H:%M') }}-{{ schedule.end_at.strftime('%H:%M') }}</td>
									{% else %}
										<td></td>
									{% endif %}
								{% endfor%}
							</tr>
						{% endfor %}
						</tbody>
							<tfoot>
							<tr>
								<th>{{ _('Student') }}</th>
								<th>{{ _('Student email') }}</th>
								<th>{{ _('Phone number') }}</th>
								<th>{{ _('Gender') }}</th>
								<th>{{ _('Course') }}</th>
								<th>{{ _('Type of class') }}</th>
								<th colspan="2">{{ _('Schedule') }}</th>
							</tr>
		        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
