{% extends "main/operator/base-template.html" %}
{% block content %}
<div id='mainContent'>
  <h4 class="c-grey-900 mT-10 mB-30">Teachers</h4>
  <div class="contacts-area mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
            <div class="panel-body custom-panel-jw">
              <div class="social-media-in">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
              <a href="{{ url_for('operator.teacher_profile') }}">
                <img alt="logo" class="img-circle m-b" style="-moz-border-radius: 38px;border-radius: 38px;" src="{{ url_for('static', filename='kialap-master/img/contact/1.jpg') }}" width="90" height="90">
                <h3>John Alva</h3>
              </a>
              <p class="all-pro-ad">London, LA</p>
              <p>
                Lorem ipsum dolor sit amet of, consectetur adipiscing elitable. Vestibulum tincidunt est vitae
                ultrices accumsan.
              </p>
            </div>
            <div class="panel-footer contact-footer">
              <div class="professor-stds-int">
                <div class="professor-stds">
                  <div class="contact-stat"><span>Likes: </span> <strong>956</strong></div>
                </div>
                <div class="professor-stds">
                  <div class="contact-stat"><span>Comments: </span> <strong>350</strong></div>
                </div>
                <div class="professor-stds">
                  <div class="contact-stat"><span>Views: </span> <strong>450</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
