{% extends "main/operator/base-template.html" %}
{% block content %}
<div id='mainContent'>
  <h4 class="c-grey-900 mT-10 mB-30">Students</h4>
  <div class="contacts-area mg-b-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="student-inner-std res-mg-b-30">
            <div class="student-img">
              <a href="{{ url_for('operator.student_profile') }}">
                <img src="{{ url_for('static', filename='kialap-master/img/student/1.jpg') }}" alt="" />
              </a>
            </div>
            <div class="student-dtl">
              <h2>Masyardi Ashari</h2>
              <p class="dp">Bahasa Arab</p>
              <p class="dp-ag"><b>Age:</b> 20 Years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
