{% extends "layouts/base-template.html" %}
{% block content %}
<style>
  .btn-circle {
    height: 45px;
    width: 70px;
  }
</style>
<div id="mainContent">
  <h1>{{ title }}</h1>
  <div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item w-100">
      <div class="row gap-20">
        <div class="col-md-3">
          <div class="layers bd bgc-white p-20">
            <div class="layer w-100 mB-10">
              <h6 class="lh-1">{{ _('Total Students') }}</h6>
            </div>
            <div class="layer w-100">
              <div class="peers ai-sb fxw-nw">
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ total_students }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% for dict_item in total_students_per_course %}
          {% for key, value in dict_item.items() %}
            <div class="col-md-3">
              <div class="layers bd bgc-white p-20">
                <div class="layer w-100 mB-10">
                  <h6 class="lh-1">{{ key }}</h6>
                </div>
                <div class="layer w-100">
                  <div class="peers ai-sb fxw-nw">
                    <div class="peer">
	                    <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="masonry-item col-12">
      <div class="bd bgc-white">
        <div class="peers fxw-nw@lg+ ai-s">
          <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
            <div class="layers">
              <div class="layer w-100 mB-10">
                <h6 class="lh-1">{{ _('Students Graph') }}</h6>
              </div>
              <div class="layer w-100">
                <canvas id="myChart" class="img-responsive" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in month_name_list %}
                "{{item}}",
        {% endfor %}],
          datasets: [
              {% for dict_item in courses_value %}
                {% for key, value in dict_item.items() %}
                  {
                      label: '{{ key }}',
                      data: {{ value }},
												{% if key=="Tahsin" %}
                          backgroundColor: [
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                          ],
                          borderColor: [
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(75, 192, 192, 0.5)',
                          ],
                        {% elif key=="Arabic Language" %}
	                        backgroundColor: [
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                              'rgba(255, 206, 86, 0.2)',
	                          ],
	                          borderColor: [
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                              'rgba(255, 206, 86, 1)',
	                          ],
                        {% endif %}

                          borderWidth: 1,
                  },
                {% endfor %}
              {% endfor %}
          ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}
